name: cicd-1
on:
  pull_request:
    types: [opened, synchronize, closed] # closed를 정의해야 Merge될 때 동작 제어 가능
    branches: [dev]
    paths:
    - 'my-app/**'

jobs:
   test: # CI
    if: github.event.action == 'opened' || github.event.action == 'synchronize'
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
  
  image-build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - name: checkout 
      uses: actions/checkout@v4
  
  deploy: # CD
    runs-on: ubuntu-latest
    needs: [image-build]
    steps:
    - name: checkout
      uses: actions/checkout@v4